---
import { Picture } from 'astro:assets';
import { getCollection } from "astro:content";
import Date from './Date.astro';

const posts = await getCollection('posts');
const { post } = Astro.props;
---

<section class="card-full">
    <a href={`/posts/${post.slug}/`}>
        <Picture
            src={post.data.image}
            alt={post.data.title}
            width="720"
            height="480"
            densities={[1, 2]}
            formats={['avif', 'webp']}
            fallbackFormat='webp'
        />
    </a>

    <h3>
        <a href={`/posts/${post.slug}/`}>
            {post.data.title}
        </a>
    </h3>

    <p>
        <small><Date date={post.data.pubDate} /></small>
    </p>
    
    <p>
        {post.data.description}
    </p>
</section>